.box-inner{
    margin: 10px;
    padding-bottom: 10px;
}
.alert{
    padding: 5px !important;
}
.images-container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px;
}
.images-box{
    padding: 5px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.75);
    position: relative;
}
.images{
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.images-delete{
    color: white;
    display: block;
    background: #222d32;
    padding: 2px 6px;
    border-radius: 15px;
    border: 2px solid white;
    position: absolute;
    left: -10px;
    top: -10px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.75);
    z-index: 1;
    cursor: pointer;
}

#form-article, #form-event{
    margin: 10px;
    padding-bottom: 10px;
}

.testi-photo{
    max-height: 50px;
    max-width: 70px;
}
.testi-textarea{
    position: relative;
}
.testi-textarea textarea{
    width: 100%;
    resize: none;
}
/* .testi-textarea:before{
    content: "0/250";
    display: block;
    position: absolute;
    right: 5px;
    top: 25px;
    color: rgba(0, 0, 0, .4);
} */

/* HALAMAN DEPAN */
.gambar-kredit{
    height: 100px;
    width: 200px;
}
.gambar-kredit img{
    max-height: 100%;
    max-width: 100%;
}

/* MOBIL */
#car-price-container{
    margin: 10px 20px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px
}
#top-bar-mobil{
    margin: 10px;
}
.price-container{
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    padding: 5px;
    position: relative;
}
.price-car-name{
    padding: 3px 5px;
    position: relative;
}
.price-car-content{
    display: grid;
    /* grid-template-columns: auto 1fr; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
    'gambar harga'
    'deskripsi deskripsi';
}
.price-car-image{
    position: relative;
    grid-area: gambar;
}
.price-car-image>img{
    max-width: 200px;
    max-height: 200px;
}
.price-list{
    position: relative;
    grid-area: harga;
}
.price-list>table{
    width: 100%;
}
.car-desc{
    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2; */
    grid-area: deskripsi;
    position: relative;
}
.car-desc img{
    max-width: 100%;
    max-height: 400px;
}

.edit-nama{
    font-size: 18px;
}

.edit-btn{
    font-size: 15px;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: 0px;
    color: #3c8dbc;
}
.edit-btn:hover::after{
    content: attr(tooltip);
    position: absolute;
    top: 0px;
    left: -130px;
    width: 120px;
    background: rgba(34, 45, 50, 0.64);
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    font-size: 12px;
}
.edit-btn:hover::before{
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid rgba(34, 45, 50, 0.64);
    position: absolute;
    top: 4px;
    left: -10px;
}

#edit-deskripsi img{
    max-width: 100%;    
}

.paket-kredit-container{
    margin: 10px;
    padding-bottom: 10px;
}

.simulasi-kredit{
    margin: 10px;
    padding-bottom: 10px;
}

/*paginasi*/
#pagination{
    margin: 0 0 15px 0;
}
ul.tsc_pagination li a
{
    border:solid 1px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:6px 9px 6px 9px;
}
ul.tsc_pagination li
{
    padding-bottom:1px;
}
ul.tsc_pagination li a:hover,
ul.tsc_pagination li a.current
{
    color:#FFFFFF;
    box-shadow:0px 1px #EDEDED;
    -moz-box-shadow:0px 1px #EDEDED;
    -webkit-box-shadow:0px 1px #EDEDED;
}
ul.tsc_pagination
{
    margin:4px 0;
    padding:0px;
    height:100%;
    overflow:hidden;
    font:12px 'Tahoma';
    list-style-type:none;
}
ul.tsc_pagination li
{
    margin:0px;
    padding:0px;
    margin-left:5px;
}
ul.tsc_pagination li a
{
    color:black;
    display:inline-block;
    text-decoration:none;
    padding:7px 10px 7px 10px;
}
ul.tsc_pagination li a img
{
    border:none;
}
ul.tsc_pagination li a
{
    color:#0A7EC5;
    border-color:#8DC5E6;
    background:#F8FCFF;
    margin: 0 2px 0 2px;
}
ul.tsc_pagination li a:hover,
ul.tsc_pagination li a.current
{
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA;
    background:#3479b8;
    background:-moz-linear-gradient(top, #3479b8 1px, #578bbb 1px, #719bc1);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #3479b8), color-stop(0.02, #578bbb), color-stop(1, #719bc1))
}

.img-gallery{
    background: none;
    padding: 0;
    border: none;
    margin: 3px 0 3px 0;
}
.modal-body{
    overflow: auto !important;
}
.box-inner img, #article-content img{
    max-width: 100%;
    width: unset !important;
    height: unset !important;
}
@media all and (max-width:1024px){
    #testimoni-container{
        grid-template-columns: repeat(4, auto);
    }
    #car-price-container{
        grid-template-columns: 1fr;
    }
}
@media all and (max-width:600px){
    .price-car-content{
        grid-template-areas:
        'gambar'
        'harga'
        'deskripsi';
    }
}
@media all and (max-width:480px){
    #testimoni-container{
        grid-template-columns: repeat(2, auto);
    }
    .price-car-content{
        grid-template-columns: 1fr;
    }
}