@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800&display=swap');
*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
html, body{
    margin: 0;
    padding: 0;
    background: #252525;
}
body{
    position: relative;
    /* padding-bottom: 200px; */
    background: white;
}
.patok{
    position: absolute;
    display: block;
    height: 20px;
    right: 0;
    z-index: 99999;
    width: 60px;
    border-bottom: 3px solid black;
}
#container{
    /* max-width: 1366px; */
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 360px;
}
#svg-wave{
    position: absolute;
}

/* NAVBAR STYLE */
/* navbar on top */
#navbar{
    /* display: none; */
    transition: .4s all ease-in-out;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #2ea6c3;
    height: 210px;
    overflow: hidden;
    top: 0;
    /* margin-top: -210px; */
}
#navbar *{
    transition: .4s all ease-in-out;
}
#logo, #school-info{
    /* position: absolute; */
    width: 100%;
    padding: 10px;
}
#logo{
    height: 205px;
}
#logo img{
    float: left;
    /* max-width: 100px; */
    max-height: 100%;
    margin-left: 20px;
}
#school-name{
    /* transition: .05s all ease-in-out; */
    /* transition: .4s all ease-in-out;
    transition: .05s font-size ease-in-out; */
    float: left;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin-left: 45px;
}
#school-name>div:first-child{
    margin-bottom: -10px;
    font-size: 5.7vw;
}
#school-name>small{
    font-size: 13px;
}
#school-info{
    /* transition: .5s all ease-in-out; */
    /* right: 0;
    top: 0; */
    text-align: left;
    color: white;
    /* padding-top: 20px; */
    padding: 0;
    margin-top: -10px;
    text-align: center;
}
#school-info ul{
    list-style: none;
    padding-left: 0;
}
#school-info ul>li{
    display: inline;
    margin: 0 20px;
}
#school-info i{
    margin-right: 3px;
}
#menubar{
    width: 700px;
    position: absolute;
    top: 158px;
    left: 50%;
    margin-left: -25vw;
    background: rgba(0, 0, 0, 0.23137254901960785);
    border-radius: 10px 10px 0 0;
}
#menubar ul{
    list-style: none;
    padding: 0;
    font-size: 0;
}
#menubar ul>li{
    display: inline;
    text-align: center;
}
#menubar ul>li>a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    margin: 0;
    width: 16.5%;
    display: inline-block;
}
#menubar div{
    height: 1.5px;
    width: 16.5%;
    margin: 0;
    background: rgba(0, 242, 97, 0.7);
    border: none;
    transition: .3s ease-in-out;
    /* transform: translateX(58px); */
}
#menu-one:hover ~ div{
    margin-left: 0% !important;
}
#menu-two:hover ~ div{
    margin-left: 16.5% !important;
}
#menu-three:hover ~ div{
    margin-left: calc(16.5% * 2) !important;
}
#menu-four:hover ~ div{
    margin-left: calc(16.5% * 3) !important;
}
#menu-five:hover ~ div{
    margin-left: calc(16.5% * 4) !important;
}
#menu-six:hover ~ div{
    margin-left: 83.5% !important;
}
#burgerbar{
    position: absolute;
    right: -30px;
    top: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    /* display: none; */
}
/* navbar not on top */
.not-top{
    /* transition: .4s all ease-in-out; */
}
#navbar.not-top{
    height: 70px;
    /* margin-top: -70px; */
    /* background: red; */
}
.not-top #school-name>div:first-child{
    font-size: 34px;
}
.not-top #school-name{
    transform: translateY(-120px);
}
.not-top #logo{
    /* transition: .4s all ease-in-out; */
    height: 70px;
}
.not-top #menubar{
    top: 27px;
    left: 100%;
    margin-left: -720px;
}
.not-top #menubar>ul>li>a{
    font-size: 14px;
}


/* HEADER STYLE */
#header-shadow{
    filter: drop-shadow(0px 5px 7px gray);
    margin-top: 210px;
    transition: .4s all ease-in-out;
}
#header{
    width: 100%;
    min-height: 600px;
    height: 100%;
    clip-path: url(#wave);
}
#header-filter{
    /* display: none; */
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
#scroll-arrow{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    /* background-color: rgba(255, 255, 255, 0.452); */
    border-radius: 50%;
    position: absolute;
    bottom: 120px;
    left: 50%;
    margin-left: -16px;
    border: 2.5px solid rgba(255, 255, 255, 0.252);
    color: rgba(255, 255, 255, 0.252);
    overflow: hidden;
    cursor: pointer;
}
#scroll-arrow i{
    position: absolute;
    top: -15px;
    left: 3.5px;
    animation-name: arrow-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow-down{
    from {transform:translateY(0px);opacity:1;}
    to {transform:translateY(40px);opacity:0;}
}
/* image slider style */
#image-slider{
    min-height: 800px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#slider-item-box{
    position: relative;
    list-style: none;
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
}
.slider-item{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center;
}
.slider-item img{
    min-width: 100%;
    min-height: 100%;
}
.control-next, .control-prev{
    position: absolute;
    z-index: 999;
    top: 40%;
    display: block;
    height: 100px;
    width: 70px;
    /* padding: 20px 0 0 20px; */
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 100px;
    opacity: .4;
    cursor: pointer;
    background-color: white;
    transform: scaleX(.5);
    transition: .3s all ease-in-out;
}
.control-next{
    text-align: right;
    /* display: none; */
    right: 0;
    transform-origin: center right;
    clip-path: url('#control-next');
    padding-right: 30px;
}
.control-prev{
    transform-origin: center left;
    clip-path: url('#control-prev');
    padding-left: 30px;
}
.control-prev:hover{
    transform: scaleX(1);
    padding-left: 5px;
}
.control-next:hover{
    transform: scaleX(1);
    padding-right: 5px;
}

.arrow-left{
    /* fill: rgba(5, 118, 230, 0); */
    /* clip-path: url(#coba); */
}
#svg-arrow{
    max-height: 100px;
    width: 100%;
    margin: auto;
    display: block;
}
#info{
    width: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}
#content{
    /* filter: drop-shadow(0px 0px 5px gray); */
}
#content-clip{
    clip-path: url("#mid");
    /* height: 540px; */
    width: 100%;
    background: url('../img/student.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
}
#content-filter{
    padding: 200px 100px;
    width: 100%;
    height: 100%;
    background: rgba(33, 147, 176, 0.9);
    background: -webkit-linear-gradient(90deg, rgba(109,213,237,0.9) 15%, rgba(56,186,215,0.95) 21%, rgba(33,147,176,1) 35%); 
    background: linear-gradient(90deg, rgba(109,213,237,0.9) 15%, rgba(56,186,215,0.95) 21%, rgba(33,147,176,1) 35%)
}
#news-content img{
    max-width: 100%;
    height: unset !important;
    width: unset !important;
}
/* GALLERY STYLE */
#gallery{
    height: 85%;
    width: 100%;
}
#gallery-title{
    margin: 20px 0;
    text-align: center;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    color: #eee;
}
.gallery-item{
    height: 200px;
    width: 300px;
    margin: 5px;
}
.gallery-item h1{
    position: absolute;
    left: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.gallery-item img{
    max-height: 100%;
    max-width: 100%;
}
.slick-prev:before, .slick-next:before{
    color: rgb(0, 182, 61);
}

/* EVENTS STYLE */
.content-title{
    font-size: 30px;
    /* margin: 20px; */
    font-family: 'Raleway', sans-serif;
    color: #2293b0;
}
#news{
    font-family: 'Source Sans Pro', sans-serif;
}
.news-item{
    /* background-color: rgb(237, 237, 237); */
    border: 1px solid #eee;
    display: grid;
    grid-template-columns: 182px auto;
    /* grid-column-gap: 30px; */
    /* padding: 20px; */
    border-radius: 5px;
    margin-bottom: 20px;
}
.news-item img{
    max-width: 160px;
    margin: 10px;
}
.news-item .date{
    padding: 0 20px;
    font-size: 13px;
    position: relative;
}
.news-item .date>div{
    border-bottom: 1px solid #979797;
    background: black;
    margin-bottom: -10.5px;
    margin-left: -20px;
}
.news-item .date>span{
    background: #eee;
    padding: 0 5px;
    color: #979797;
}
#agenda{
    /* display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px; */
}
.agenda-item{
    background-color: rgb(237, 237, 237);
    padding: 20px;
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* width: 500px; */
}
.desc{
    font-family: 'Source Sans Pro', sans-serif;
}
.news-item>.desc{
    background: #eee;
    padding: 20px;
    margin-left: 20px;
    position: relative;
}
.news-item>.desc:before{
    content: '';
    display: block;
    border-right: 20px solid #eee;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 16px;
    left: -19px;
}
.desc>h4{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 100;
}
.agenda-item .desc>h4{
    margin-bottom: -3px;
}
.desc>h4>a{
    color: #2293b0;
    text-decoration: none;
}
.desc>span{
    color: #979797;
    font-size: 14px;
}
.desc>span>i{
    font-size: 11px;
}
.calendar{
    width: 100px;
    height: 120px;
    font-family: 'Open Sans', sans-serif;
}
.calendar .month{
    background: #ff5555;
    padding: 12px 0px;
    color: white;
    text-align: center;
    position: relative;
}
.calendar .month:before{
    content: "";
    display: block;
    width: 10px; height: 10px;
    background: #eee;
    border-radius: 50%;
    position: absolute;
    top: 5px; left: 10px;
    box-shadow: 70px 0px 0px 0px #eee;
}
.calendar .month:after{
    content: "";
    display: block;
    width: 4px;
    height: 18px;
    background: #505050;
    border-radius: 7px;
    position: absolute;
    top: -7px;
    left: 12.6px;
    box-shadow: 70.1px 0px 0px 0px #505050;
}
.calendar .date{
    background: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 68px;
    position: relative;
    height: 75px
}
.calendar .date:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid #b4b4b4;
    border-left: 20px solid transparent;
    bottom: 0px;
    right: 0;
}
.calendar .date:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid #ebebeb;
    border-right: 20px solid transparent;
    bottom: 0px;
    right: 0px;
}

/* TESTI STYLE */
#testi{
    margin-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
}
#testi-title{
    margin: 40px 0 30px 0;
    text-align: center;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    color: #2293b0;
    font-weight: 600;
}
.testi-card{
    border: .5px solid #eee;
    padding: 10px;
    width: 400px;
    height: 300px;
    position: relative;
    box-shadow: 0px 0px 7px -3px grey;
    margin: 0 20px;
}
.testi-card .title{
    font-size: 22px;
}
.testi-card p{
    margin: 10px 0;
    font-size: 14px;
    font-style: italic;
}
.testi-profile{
    background-color: #258aa4;
    position: absolute;
    width: calc(100% + 15px);
    bottom: 0;
    left: -15px;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 115px auto;
}
.testi-profile small{
    /* float: left; */
    margin-top: 5px;
}
.testi-profile:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #206f83;
    border-left: 15px solid transparent;
    top: -15px;
    left: 0;
}
.profile-photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px #252525;
    overflow: hidden;
    margin: 0;
    float: left;
    margin-right: 20px;
}
.profile-name{
    /* float: left; */
    font-size: 20px;
}

#footer{
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 360px;
    background-color: #252525;
    position: absolute;
    bottom: 0;
    clip-path: url('#wave-up');
    padding-top: 10px;
}
#copyright{
    position: absolute;
    font-size: 13px;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background: #202020;
}
#copyright a{
    color: #206f83;
}
/*
| -------------------------------------------------------------------------
| Article style
| -------------------------------------------------------------------------
*/
#page-container{
    min-height: 700px;
}
#page-container nav{
    margin-top: 210px;
}
#page-box{
    padding: 10px;
    display: grid;
    grid-template-columns: auto 25%;
    grid-column-gap: 20px;
    padding-bottom: 100px;
}
#page-content{
    padding: 10px;
}
#article-content>h2:first-child{
    margin-bottom: 0;
}
#article-detail{
    background: #eee;
    display: inline-block;
    font-size: 12px;
    padding: 2px 15px;
    color: #949494;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
}
#article-detail>i{
    font-size: 11px;
}
#article-content img{
    max-width: 100%;
    margin-bottom: 50px;
}
#side-content{
    padding: 10px;
}
#side-content h5{
    color: #2ea6c3;
}
#side-content ul{
    padding: 0;
}
#side-content ul>li{
    list-style: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 5px 4px 6px;
}
#side-content ul>li>a{
    color: #9b9b9b;
}
/*
| -------------------------------------------------------------------------
| Headmaster style
| -------------------------------------------------------------------------
*/
#headmaster-box{
    display: grid;
    grid-template-columns: 250px auto;
    grid-column-gap: 120px;
    grid-row-gap: 60px;
}
#headmaster-profile{
    text-align: center;
}
#headmaster-profile>span{
    font-weight: 600;
    font-size: 20px;
}
#headmaster-profile .photo{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid #4b4b4b;
}
#headmaster-speech{
    color: white;
}

#all-gallery{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#all-gallery .gallery-item{
    height: 12vw;
    margin: 0;
    width: unset;
    box-shadow: 2px 2px 5px 2px grey;
}
#all-testi{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#all-testi .testi-card{
    width: unset;
}
#ppdb-page img{
    max-width: 100%;
}
/*paginasi*/
#pagination{
    margin: 0 0 15px 0;
}
ul.tsc_pagination li a
{
    border:solid 1px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:6px 9px 6px 9px;
}
ul.tsc_pagination li
{
    padding-bottom:1px;
}
ul.tsc_pagination li a:hover,
ul.tsc_pagination li a.current
{
    color:#FFFFFF;
    box-shadow:0px 1px #EDEDED;
    -moz-box-shadow:0px 1px #EDEDED;
    -webkit-box-shadow:0px 1px #EDEDED;
}
ul.tsc_pagination
{
    margin:4px 0;
    padding:0px;
    height:100%;
    overflow:hidden;
    font:12px 'Tahoma';
    list-style-type:none;
}
ul.tsc_pagination li
{
    margin:0px;
    padding:0px;
    margin-left:5px;
}
ul.tsc_pagination li a
{
    color:black;
    display:inline-block;
    text-decoration:none;
    padding:7px 10px 7px 10px;
}
ul.tsc_pagination li a img
{
    border:none;
}
ul.tsc_pagination li a
{
    color:#0A7EC5;
    border-color:#8DC5E6;
    background:#F8FCFF;
    margin: 0 2px 0 2px;
}
ul.tsc_pagination li a:hover,
ul.tsc_pagination li a.current
{
    text-shadow:0px 1px #388DBE;
    border-color:#3390CA;
    background:#3479b8;
    background:-moz-linear-gradient(top, #3479b8 1px, #578bbb 1px, #719bc1);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #3479b8), color-stop(0.02, #578bbb), color-stop(1, #719bc1))
}

/*
| -------------------------------------------------------------------------
| MEDIA QUERIES
| -------------------------------------------------------------------------
*/
@media all and (min-width: 1440px) { 
    #school-name{
        margin-top: -20px;
    }
    #school-name>div:first-child{
        font-size: 4.9vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    #header{
        clip-path: url("#wave2");
    }
    #scroll-arrow{
        bottom: 60px;
    }
    #content-clip{
        clip-path: url("#mid2");
    }
    #school-name{
        margin-left: 15px !important; 
        margin-top: 10px !important; 
    }
    #school-name>div:first-child{
        font-size: 5.3vw;
    }
    .not-top #school-name>div:first-child{
        font-size: 5.9vw;
    }
    #school-info{
        font-size: 13px;
    }
    #school-info ul>li{
        margin: 0 5px;
    }
    #menubar{
        width: 70%;
        margin-left: -220px;
        left: unset;
        right: 0;
        border-radius: 10px 0;
        top: 162px;
    }
    #menubar ul>li>a {
        font-size: 17px;
        padding: 10px 5px;
    }
    .not-top #menubar{
        margin-left: -450px;
    }
    #content-filter{
        /* grid-template-columns: auto auto; */
    }
    #info{
        grid-template-columns: auto;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    #navbar.not-top.open{
        height: 285px;
    }
    #content-clip{
        clip-path: url("#mid2");
    }
    #school-name{
        margin-left: 15px !important; 
        margin-top: 10px !important; 
    }
    #school-name>div:first-child{
        font-size: 5.3vw;
    }
    .not-top #school-name>div:first-child{
        font-size: 5.9vw;
    }
    #school-info{
        font-size: 13px;
    }
    #school-info ul>li{
        margin: 0 5px;
    }
    #menubar{
        width: 70%;
        margin-left: -220px;
        left: unset;
        right: 0;
        border-radius: 10px 0;
        top: 162px;
        /* width: 440px;
        margin-left: -220px;
        top: 162px; */
    }
    #menubar ul>li>a {
        font-size: 17px;
        padding: 10px 5px;
    }
    .not-top #menubar{
        top: 80px;
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    
    .not-top #menubar>ul>li{
        display: block;
        text-align: right;
    }
    .not-top #menubar>ul>li>a{
        width: 100%;
        padding: 10px 20px;
    }
    .not-top #menubar div{
        display: none;
    }
    .not-top #burgerbar{
        right: 20px;
    }
    #content-filter{
        padding: 100px 50px;
        background: -webkit-linear-gradient(180deg, rgba(109,213,237,0.9) 15%, rgba(56,186,215,0.95) 21%, rgba(33,147,176,1) 35%);
        background: linear-gradient(180deg, rgba(109,213,237,0.9) 15%, rgba(56,186,215,0.95) 21%, rgba(33,147,176,1) 35%);
    }
    #headmaster-profile>span{
        color: white;
    }
    #info{
        grid-template-columns: auto;
        padding: 50px;
    }
    #headmaster-box{
        grid-template-columns: auto;
    }
    #page-box{
        grid-template-columns: auto;
    }
    #all-gallery{
        grid-template-columns: auto auto;
    }
    #all-gallery .gallery-item{
        height: 40vw;
    }
    #all-testi{
        grid-template-columns: auto;
    }
}

@media all and (max-width: 480px) { 
    #navbar, #navbar.not-top{
        height: 60px;
    }
    #navbar.not-top.open, #navbar.open{
        height: 335px;
    }
    #content-clip{
        clip-path: url("#mid2");
    }
    #logo img{
        max-width: unset;
        max-height: 40px;
        margin-left: 0;
    }
    #logo a{
        position: relative;
    }
    #logo a::before{
        content: "SMAK YOS SUDARSO BATU";
        display: block;
        width: 160px;
        font-size: 13px;
        position: absolute;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        left: 10px;
    }
    #school-info, #school-name{
        display: none;
    }
    #menubar ul>li>a {
        font-size: 17px;
        padding: 10px 5px;
    }
    .not-top #menubar, #menubar{
        top: 60px;
        width: 100%;
        left: 0;
        margin-left: 0;
        box-shadow: inset 2px 3px 13px -3px #52525270;
    }
    #menubar{
        top: 60px;
    }
    
    .not-top #menubar>ul>li, #menubar>ul>li{
        display: block;
        text-align: right;
    }
    .not-top #menubar>ul>li>a, #menubar>ul>li>a{
        width: 100%;
        padding: 10px 20px;
        font-size: 17px;
    }
    .not-top #menubar div, #menubar div{
        display: none;
    }
    #burgerbar{
        right: 15px;
        top: 10px;
    }
    #header-shadow{
        margin-top: 60px;
    }
    #content-filter{
        padding: 100px 10px;
        background: -webkit-linear-gradient(180deg, rgba(109,213,237,0.9) 15%, rgba(56,186,215,0.95) 21%, rgba(33,147,176,1) 35%);
        background: linear-gradient(180deg, rgba(109,213,237,0.9) 15%, rgba(56,186,215,0.95) 21%, rgba(33,147,176,1) 35%);
    }
    #headmaster-profile>span{
        color: white;
    }
    #info{
        grid-template-columns: auto;
        padding: 50px 10px;
    }
    .news-item{
        grid-template-columns: auto;
    }
    .news-item img{
        max-width: calc(100% - 10px);
        margin: 5px;
    }
    .news-item>.desc{
        margin-left: 0;
        margin-top: 30px;
    }
    .news-item>.desc:before{
        border-top: 0;
        border-bottom: 20px solid #eee;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: -20px;
        left: calc(50% - 20px);
    }
    #headmaster-box{
        grid-template-columns: auto;
    }
    #page-box{
        grid-template-columns: auto;
    }
    #all-gallery{
        grid-template-columns: auto auto;
    }
    #all-gallery .gallery-item{
        height: 40vw;
    }
    #all-testi{
        grid-template-columns: auto;
    }
    #page-container nav{
        margin-top: 60px;
    }
}